name: Ryzom Live Version

on:
  schedule:
    - cron: '14 */11 * * *'
  workflow_dispatch:

env:
  app: ryzom_live
  username: "Github Action"
  useremail: "zerotacg@users.noreply.github.com"

concurrency:
  group: "version"
  cancel-in-progress: false

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.changed.outputs.changed }}
    steps:
      - uses: actions/checkout@v4
      - name: get current version
        run: |
          ./src/patch-live-version.sh ${{ env.app }}
      - id: changed
        run: |
          echo "changed=true" > "$GITHUB_OUTPUT"
          git diff --quiet --no-index "dist/${{ env.app }}.version" "patch/${{ env.app }}.version" && echo "changed=false" > "$GITHUB_OUTPUT"
      - name: get current index
        if: steps.changed.outputs.changed == 'true'
        run: |
          ./src/patch-live-index.sh
      - uses: actions/upload-artifact@v4
        if: steps.changed.outputs.changed == 'true'
        with:
          name: dist
          path: dist

  to-json:
    needs: [version]
    runs-on: ubuntu-latest
    if: needs.version.outputs.changed == 'true'
    container:
      image: ghcr.io/zerotacg/ryzom-patch-info:latest
      volumes:
        - ${{ github.workspace }}:/app
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
      - run: |
          ryzom-patch-info --index-file ${{ env.app }}.idx > ${{ env.app }}.json
      - uses: actions/upload-artifact@v4
        with:
          name: index
          path: ${{ env.app }}.*

  push:
    needs: [to-json, version]
    if: needs.version.outputs.changed == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: index
      - name: push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv ${{ env.app }}.* patch/
          git config --global user.name '${{ env.username }}'
          git config --global user.email '${{ env.useremail }}'
          git commit --all --message="[ci] Update Version" || true
          git push
